<style>
    .io-cbw-widget-table {
        table-layout: fixed;
        width: 100%;
    }

    .io-cbw-widget-table td,
    .io-cbw-widget-table th {
        vertical-align: middle;
        line-height: 1.25;
    }

    .io-cbw-widget-table thead th {
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .io-cbw-widget-table td.io-cbw-td-clip {
        overflow: hidden;
        max-width: 0;
    }

    .io-cbw-widget-table .io-cbw-truncate {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
    }

    .io-cbw-widget-table a.io-cbw-truncate {
        text-decoration: inherit;
    }

    .io-cbw-widget-table a.io-cbw-truncate:hover {
        text-decoration: underline;
    }
</style>
