{% load helper_tags %}

{% include "io_cloudbolt_widgets/templates/includes/widget_table_styles.html" %}
<style>
    @media (max-width: 1330px) {
        .col-hide {
            display: none !important;
        }
    }
</style>

<table class="table small table-striped io-cbw-widget-table">
    <colgroup>
        <col style="width: 40px" />
        <col />
        <col class="col-hide" style="width: 132px; min-width: 132px" />
    </colgroup>
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th class="col-hide">Created</th>
        </tr>
    </thead>
    <tbody>
        {% for s in servers %}
        <tr>
            <td>
                {% if s.power_status == "POWEROFF" %}
                <span style="opacity: 0.20;">{{ s.os_family|os_family_icon }}</span>
                {% else %}
                {{ s.os_family|os_family_icon }}
                {% endif %}
            </td>
            <td class="io-cbw-td-clip">
                <a
                    href="/servers/{{ s.id }}/"
                    class="io-cbw-truncate"
                    title="{{ s.hostname }}"
                    >{{ s.hostname }}</a
                >
            </td>
            <td class="col-hide">{{ s.add_date | how_long_ago }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No Servers found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "io_cloudbolt_widgets/templates/includes/widget_tooltip.html" with tooltip_id="io-cbw-tip-recent-servers" tooltip_text="The most recently provisioned active servers in your scope." %}
